SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=orders@example.com
SMTP_PASS=your_password_here
SMTP_FROM_EMAIL=orders@example.com
SMTP_FROM_NAME=AquaMarket
ORDER_RECEIVER_EMAIL=manager@example.com
SMTP_EHLO_HOSTNAME=localhost
# SMTP_DISABLE_STARTTLS=false
